{% extends "auctions/layout.html" %}


{% block body %}
    {% if error_msg %}
        <div class="alert alert-warning" role="alert">
            {{error_msg}}
        </div>
    {% endif %}
    <h2>Listing: {{ listing.title }}</h2>
    <!-- Watchlist button -->
    {% if user.is_authenticated %}
        <form action="./{{ listing.id }}" method="POST">
            {% csrf_token %}
            <input name="action" value="toggle_watchlist" hidden>
            <input name="is_watched" value="{{ is_watched }}" hidden>
            {% if is_watched %}
                <button type="submit" class="btn btn-sm btn-primary mb-2">WatchlistON</button>
            {% else %}
                <button type="submit" class="btn btn-sm btn-outline-primary mb-2">WatchlistOFF</button>
            {% endif %}
        </form>
    {% endif %}
    {% if listing.image_url %}
    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="max-width: 100%;" class="d-block">
    {% else %}
        <img src="../../static/auctions/img/no-image.png" alt="no image available" style="width: 300px;">
    {% endif %}
    <p>{{ listing.description }}</p>
    <h3>${{ listing.current_price }}</h3>
    {% if listing.is_active %}
        <!-- Place a bid form OR Close Auction button-->
        {% if user.is_authenticated %}
            <form action="./{{ listing.id }}" method="POST">
                {% csrf_token %}
            {% if user == listing.user %}
                    <input name="action" value="close_auction" hidden>
                    <input type="submit" class="btn btn-sm btn-primary mt-2" value="Close Auction">
            {% else %}
                <input name="action" value="place_bid" hidden>
                <p class="mb-1 text-secondary" style="font-size: smaller;">{{ bids_count }} bid(s) so far.</p>
                {{ bid_form }}
<!--                 <input class="form-control" type="number" name="bid" placeholder="Bid">
 -->                <input type="submit" class="btn btn-sm btn-primary mt-2" value="Place Bid">
            {% endif %}
            </form>
        {% endif %}
    {% else %}  <!-- listing is inactive -->
        <!-- if the user is the winner: -->
        {% if message_winner %}
            <div class="alert alert-success" role="alert">
                {{message_winner}}
            </div>
        {% endif %}
        <div class="alert alert-primary" role="alert">
            This auction is closed.
        </div>
    {% endif %}
    <div class="my-3">
        <h3>Details</h3>
        <ul>
            <!-- IMPLEMENTER LE RETOUR VERS LA PAGE USER quand elle sera crée -->
            <li>Listed by: <a href=#>{{ listing.user.username }}</a></li>
            <li>Category: 
                {% if listing.category %}
                    {{ listing.category.name }}
                {% else %}
                    No Category Listed
                {% endif %}
            </li>
        </ul>
    </div>
    <div>
        <h3>Comments</h3>
            {% if user.is_authenticated %}
                <form action="./{{ listing.id }}" method="POST">
                    {% csrf_token %}
                    <input name="action" value="add_comment" hidden>
                    {{ comment_form }}
                    <br>
                    <input type="submit" class="btn btn-primary mt-2" value="Add comment">
                </form>
            {% endif %}
            <div class="mt-2">
                {% for comment in comments %}
                    <div>
                        <h4 class="font-weight-lighter" style="font-size: smaller;">On {{ comment.date }}, {{ comment.user.username }} wrote :</h4>
                        <p>
                            {{ comment.text }}
                        </p>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}